

    <main id="main" class="main" >

<div class="container">
    <div class="row">
        <section>
            <form method="post" action="/admin/add-category" enctype="multipart/form-data">
                <div class="default-form-box">
                    <label>Category <span>*</span></label>
                    <input type="text" name='category'>
                </div>
                <div class="default-form-box">
                    <label>Category Offer <span>*</span></label>
                    <input type="number" name='categoryOffer'>
                </div>
                <div class="default-form-box">
                    <label>IMG <span>*</span></label>

                    <input type="file" name="image" multiple>
                </div>
                <div class="login_submit">
                    <button class="btn btn-md btn-black-default-hover" type="submit">Add</button>
                </div>
            </form>
        </section>
    </div>
    </div>
    </main>