<!DOCTYPE html>
<html>

<head>
  {{!-- User Home --}}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <title>CAKESHOP</title>
  <!-- sweet alert
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->

  <!-- MDB -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  {{!-- HomePage --------------------------------------------------------------------------------}}
  <link rel="stylesheet" href="/user/css/vendor/vendor.min.css">
  <link rel="stylesheet" href="/user/css/plugins/plugins.min.css">
  <link rel="stylesheet" href="/user/css/style.min.css">
  <link rel="stylesheet" href="/public/user/messages/styles.css">

  <!-- admin CSS Files -->
  {{!-- <link href="/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> --}}
  <link href="/admin/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/admin/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/admin/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/admin/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/admin/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/admin/vendor/simple-datatables/style.css" rel="stylesheet">


  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/loadingio/ldbutton@v1.0.1/dist/ldbtn.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/loadingio/loading.css@v2.0.0/dist/loading.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/loadingio/loading.css@v2.0.0/dist/loading.min.css" />

  <!-- Template Main CSS File -->
  <link href="/admin/css/style.css" rel="stylesheet">

  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  {{!-- HomePage End --------------------------------------------------------------------------------}}
</head>

<body>
  {{#if admin}}
  {{>admin-nav}}
  {{/if}}
  {{#if user}}
  {{>user-nav}}
  {{/if}}
  {{{body}}}'

  <script src="/user/js/vendor/vendor.min.js"></script>
  <script src="/user/js/plugins/plugins.min.js"></script>
  <script src="/user/js/main.js"></script>
  <script src="/js/script.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  {{!--
  <script src="/admin/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/admin/vendor/chart.js/chart.min.js"></script>
  <script src="/admin/vendor/echarts/echarts.min.js"></script>
  <script src="/admin/vendor/quill/quill.min.js"></script>
  <script src="/admin/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/admin/vendor/tinymce/tinymce.min.js"></script>
  <script src="/adminvendor/php-email-form/validate.js"></script> --}}
  <script src="/admin/js/main.js"></script>
</body>
{{!-- HomePage --------------------------------------------------------------------------------}}




</html>